/* tertiary
   hues: 60, 180, 300
*/
body{
    background-color: hsl(0, 0%, 100%);
}
h1{
    color: hsl(190, 100%, 20%);
    background: none;
    border:none;
}
h2, h3{
    margin:0 auto;
}
p{
    border: none;
    box-shadow: none;
}
ul li{
    border:none;
    background:none;
    text-align: center;
    box-shadow:none;
    margin-left:0px;
}
ul li:hover{
    cursor:pointer;
}
#list{
    background-color: hsl(190, 50%, 70%);
}
.list2{
    background-color: hsl(0, 40%, 65%);
    margin: 15px 220px 15px 220px;
    padding: 2px;
    position: relative;
    top: 10px;
    display: block;
    border-radius:5px;
}
#link{
    margin: 15px 0;
    text-align:center;
}
#text{
    position: relative;
    top: 10px;
    display: block;
    border-radius: 5px;
    margin: 15px 220px 15px 220px;
    padding: 2px;
    
}
#nav{
    left:50px;
    top:100px;
}
content{
    position:absolute;
    top:400px;
    left:400px;
    display:block;
}
ul li:hover:after:nth-child(1){
    content:url("images/Downloads/Ojutais.jpg");
}
ul li:hover:after:nth-child(2){
    content:url("images/Downloads/thing.jpg");
}
ul li:hover:after:nth-child(3){
    content:url("images/Downloads/fevered.jpg");
}
ul li:hover:after:nth-child(4){
    content:url("images/Downloads/ReflectorMage.jpg");
}
ul li:hover:after:nth-child(5){
    content:url("images/Downloads/Radiant.jpg");
}
ul li:hover:after:nth-child(6){
    content:url("images/Downloads/.jpg");
}
ul li:hover:after:nth-child(7){
    content:url("images/Downloads/ScatterToTheWinds.jpg");
}
