@keyframes opening {
    from{background-color:#7fffd4;}
    to{background-color:#fff  ;}
}
/* firefox */
@-moz-keyframes opening {
    from{background-color:#7fffd4;}
    to{background-color: #fff ;}
}
/* Chrome and safari */
@-webkit-keyframes opening {
    from{background-color:#7fffd4;}
    to{background-color: #fff ;}
}
@keyframes textSlide{
    0%{
        opacity:0;
        left:-100px;
    }
    
    100%{
        opacity:1;
        left:0px;
    }
}
@-moz-keyframes textSlide{
    0%{
        opacity:0;
        left:-100px;
    }
    
    100%{
        opacity:1;
        left:0px;
    }
}
@-webkit-keyframes textSlide{
    0%{
        opacity:0;
        left:-100px;
    }
    
    100%{
        opacity:1;
        left:0px;
    }
}
body{
    animation:opening 3s ease-out ;
    /* Firefox */
    -moz-animation:opening 3s ease-out ;
    /* Chrome and safari */
    -webkit-animation: opening 3s ease-out ;
    background-color: #fff;
}
h1, h2{
    text-shadow:1px 2px 3px grey;
    top: 20px;
}
h1{
    
    position: relative;
    animation:textSlide 1.5s ease-out ;
    -moz-animation:textSlide 1.5s ease-out ;
    -webkit-animation:textSlide 1.5s ease-out ;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
    
    
}
h2{
    position: relative;
    animation:textSlide 3s ease-out ;
    -moz-animation:textSlide 3s ease-out ;
    -webkit-animation:textSlide 3s ease-out ;
    text-align: center;
    
}
