nav{
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}
button{
    margin: 5px;
}
h1{
    text-align: center;
}
form{
    margin: 0 auto;
}
footer{
    text-align: center;
}
a{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    border-radius: 2px;
    margin: 2px 5px -4px 5px;
    padding: 8px;
    text-align: center;
}
a:hover{
    color: black;
    border-color: black;
}